<!DOCTYPE html>
<html>
  <head>
    <title>Locations</title>
    <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
    <div id="welcome">
      <div id="welcomeContent">
        <h1>Welcome to locations</h1>
        <h2>Please upload your Google location data in KML format</h2>
        <!--<form action="" method="post" enctype="multipart/form-data">-->
          <label for="locationsUpload" class="custom-file-upload">
            Upload
          </label>
          <input type="file" id="locationsUpload" name="locationsUpload" value="locationsUpload">
          <input type="submit" value="submit" id="locationUploadSubmit">
        <!--</form>-->
      </div>
    </div>

    <div id="mapContainer">
      <h3>TIME HERE</h3>
      <input type="date" id="startDateSelector">
      <input type="date" id="endDateSelector">
      <button id="goButton">GO!</button>
      <input type="range" id="timeSelector" value="0">
      <button id="autoButton">Automatic</button>
      <button id="stopButton">Stop</button>
      <div id="map"></div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 53.4500179, lng: -2.2279823},
          mapTypeId: 'terrain'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8IMKkqjjlaAjATw7BBt71LP5RnVuZikg&callback=initMap">
    </script>
    <script type="text/javascript" src="static/js/main.js"></script>
  </body>
</html>